/*This is my
first heading 
just to remind
you*/
#first-heading {
    background-color:blue;
    font-size:72px;
    width: 200px;
    height: 200px;
    font-family: 'Pixelify Sans', cursive;
}

/* #first-heading-sub-word {
    color: red;
} */

#first-heading span {
    color: red;
}

#second-heading {
    color:blue;
    background-color: transparent;
    border-style: solid;
    border-width: 8px;
    border-color: green;
    /* border-top-style: none; */
    border-right-color: red;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#third-heading {
    color:blue;
}

.generic-heading {
    font-size: 42px;
    background-color: orange;
}

p {
    background-color: aqua;
    font-size: 32px;
    font-weight: bold;
}

a {
    font-size: 64px;
    border-style: solid;
    border-radius: 8px;
    text-decoration: none;
    /* text-decoration: none; fjerner streken under linken */
}

a:hover {
    background-color:lightblue;
    background-color: 
}
/* body {
    background-size: contain;
    background: url(../images/can.jpg) no-repeat;
} */