body {
    margin: 0px;
}

section {
    background-color:#DC2E2E;
    width: 100%;
    height: 128px;
}

#green-section {
    background-color: #385B37;
    width: 100%;
    height: 686px;
}

#blue-section {
    background-color: #0057FF;
    width: 100%;
    height: 210px
    
}