section {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid lightgray;
}

form {
    height: 100%;
}

label, input, button, textarea {
    display: block;
    margin: 8px;
}

/* resize: none; removes the possibility to resize the text field */
#message {
    resize: none;
}

.container {
    margin: 16px 0 16px 0;
}